---
import Layout from '@/layouts/Layout.astro';
import Card from '@/components/CardReasons.astro';
import Services from '@/sections/Services.astro'
import Reasons from '@/sections/Reasons.astro';
import Footer from '@/sections/Footer.astro';
import AboutMe from '@/sections/AboutMe.astro';
import Header from '@/sections/Header.astro';
import ContactMe from '@/sections/ContactMe.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Social from '@/sections/Social.astro';
import Testimonials from '@/sections/Testimonials.astro';
---

<Layout title="Carla Ramírez - Trafficker Digital">
	
	<Header />
	<main
		class="max-w-5xl mx-auto my-20"
	>
		<SectionContainer id="services">
			<Services />
		</SectionContainer>

		<SectionContainer id="reasons">
			<Reasons />
		</SectionContainer>

		<SectionContainer id="testimonials">
			<Testimonials />
		</SectionContainer>
		
		<SectionContainer id="contactme">
			<ContactMe />
		</SectionContainer>

		<SectionContainer id="aboutme">
			<AboutMe />
		</SectionContainer>

	</main>
	
	<Social />
	<Footer />
	
</Layout>