<section class="my-8 pt-16">
    <h2 class="flex flex-col justify-center items-center font-bold text-5xl">
        Acerca de mi
    </h2>
    <div class="my-10 flex justify-center items-center gap-x-5 lg:flex-row md:flex-col md:mx-16 sm:flex-col sm:mx-16 max-sm: flex-col max-sm:mx-16">
        <div>
            <div class="profile">

            </div>
        </div>
        <div class="text-justify">
            Hola!! 👋🏼 Mi nombre es Carla, tengo 35 años y soy médica especialista en Otorrinolaringología. 
            Desde el año 2020, pandemia de por medio comencé a interesarme por el mundo digital, me cree mi cuenta de Instagram profesional @otorrino.info. 
            La idea con esa cuenta era educar a la población y brindar información de calidad acerca de mi profesión. 
            Me di cuenta en ese momento que me gustaba generar contenido, editar videos, crear posteos ingeniosos que impacten y llamen la atención. 
            Lo tomaba como un hobby, a medida que fue pasando el tiempo fui indagando más acerca del mundo de la publicidad y el marketing; cada día llamándome más 
            la atención. Hasta que en Enero 2024 di con Josefina Paluch, y a través de ella conocí lo que es el Tráfico Pago en medios online. Comencé a investigar por mi cuenta, 
            llegando hasta Felipe Vergara con sus videos en YouTube y me di cuenta, no solo del potencial que tiene esta rama del marketing como tal, sino que le entendía y cada día 
            me gustaba más como profesión.
            Decidí inscribirme en la Universidad del Tráfico con Josefina (mi mentora) aprovechando estos 3 meses de licencia que tengo por maternidad (ya que mi segundo hijo acaba 
            de nacer en Marzo 2024).
            También estoy realizando la Diplomatura de Trafficker Digital de la UTN avalada por la UBA. 
        </div>
    </div>
</section>

<style>

    .profile{
        width: 500px;
        height: 550px;
        background-image: url("/public/img/profile.webp");
        background-size: cover;
        background-position: left;
        mask-image: url('/public/res/mancha.svg');
        mask-size: contain;
    }

    @media not all and (min-width: 768px) {
        .profile{
            width: 200px;
            height: 230px;
        }
    }

</style>