<section class="hero flex w-full h-screen relative overflow-hidden max-sm:h-screen max-sm:w-full">
    <!-- 
    <div class="absolute top-[-140px] z-10 sm:top-0 max-sm:top-0 max-sm:scale-150">
        <img 
            src="/public/img/header.webp" />
    </div>
    -->
    
    <div class="max-w-5xl flex flex-col max-sm:mx-10 max-sm:my-16 animate-fade-in-up lg:mx-70 lg:my-auto md:mx-40 md:my-36 sm:my-40 sm:mx-32">
        <h2 
            class="
                font-bold 
                text-primary 
                z-10 
                relative 
                [text-shadow:_0_8px_8px_rgb(00_00_00_/_0.8)]
                lg:text-7xl 
                md:text-5xl
                sm:text-4xl"
            >
            Carla Ramírez
        </h2>
        <span 
            class="
                font-semibold 
                text-secondary 
                z-10 
                relative
                [text-shadow:_0_8px_8px_rgb(00_00_00_/_0.8)]
                lg:text-3xl
                md:text-xl
                sm:text-md"
            >
            Trafficker Digital
        </span>
        <span class="text-white z-10 relative mt-4 animate-fade-in animate-delay-300 max-sm:hidden max-md:hidden">
            Te has preguntado qué es lo que realmente estás vendiendo? <br/>
            Enfócate en el dolor/problema que soluciona tu producto/servicio, <br/>y te puedo asegurar que verás mejores resultados!
        </span>
        <footer 
            class="z-10 relative mt-8 py-4 flex justify-start text-white text-xl animate-fade-in animate-delay-300 max-md:flex-col"
        >
            <a class="border-2 border-primary bg-primary px-6 hover:scale-110 hover:opacity-75 transition inline-block max-md:my-1 max-md:w-full" href="#aboutme">Conoceme</a>
            <a class="border-2 border-white bg-white px-6 text-black ms-3 hover:scale-110 hover:opacity-75 transition inline-block max-md:my-1 max-md:w-full max-md:ms-0" href="#contactme">Contactame</a>
        </footer>
    </div>

</section>

<style>
    .hero{
        background-image: url('/public/img/header.webp');
        background-size: cover;
        background-position: center;
        z-index: 20;
    }
</style>