<section class="bg-primary flex flex-col py-10">

    <header class="flex justify-center font-bold text-2xl">
        <span class="text-secondary font-extrabold">C</span>arla <span class="text-secondary font-extrabold">R</span>amírez
    </header>
    
    <div class="mx-80 mt-10 max-md:hidden">
        <ul class="flex flex-row justify-center">
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#home">Home</a></li>
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#aboutme">Sobre mi</a></li>
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#services">Servicios</a></li>
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#reasons">Motivos</a></li>
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#testimonials">Testimonios</a></li>
            <li class="mx-2 px-3 font-semibold hover:scale-110 transition inline-block"><a href="#contact">Contactame</a></li>
        </ul>
    </div>
    
    <footer class="flex flex-row justify-center mt-3
                    max-md:mt-1">
        <a href="#" class="hover:scale-110 hover:opacity-75 transition inline-block"><img class="w-5 m-3" src="/img/instagram.svg" alt="Logo de instagram"></a>
        <a href="#" class="hover:scale-110 hover:opacity-75 transition inline-block"><img class="w-5 m-3" src="/img/facebook.svg" alt="Logo de facebook"></a>
        <a href="#" class="hover:scale-110 hover:opacity-75 transition inline-block"><img class="w-5 m-3" src="/img/x.svg" alt="Logo de twitter"></a>
        <a href="#" class="hover:scale-110 hover:opacity-75 transition inline-block"><img class="w-5 m-3" src="/img/linkedin.svg" alt="Logo de linkedin"></a>
    </footer>
</section>