---
import CardTestimonial from "@/components/CardTestimonial.astro";
---

<section class="pt-16">
    <h2 class="font-bold text-5xl text-center">
        Testimonios
    </h2>
    <div class="mt-10 columns-1 mx-4 gap-5 sm:columns-2 sm:mx-4 sm:gap-7 md:columns-3 md:mx-4 pb-16">
        
        
                <CardTestimonial 
                    name="Sergio"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

                <CardTestimonial 
                    name="Juan"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

                <CardTestimonial 
                    name="Pedro"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

                <CardTestimonial 
                    name="Maria"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

                <CardTestimonial 
                    name="Ramon"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

                <CardTestimonial 
                    name="Lara"
                    body="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque tempore iusto nostrum ipsum atque provident! Aperiam, deserunt. Repudiandae adipisci consequatur placeat, dolores quis laboriosam cumque maxime esse fugit nemo."
                />

    </div>
</section>