---
import Hero from '@/sections/Hero.astro';
import SectionContainer from '@/components/SectionContainer.astro';

import '@fontsource/sunflower';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<SectionContainer id="home">
		<Hero />
	</SectionContainer>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: 'Sunflower', system-ui, sans-serif;
		background: #272b35;
		color-scheme: light dark;
		scroll-behavior: smooth;
	}
	
</style>
